@import "setup";
@import "animations";

// VARIABLES
$primary : #f9e090;
$secondary: #ff935c;
$accent1 : #dc5353;
$accent2: #f6f6f6;

// GENERAL STYLES

*{
    // border: 2px solid tomato;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-size: 1.8rem;
}

// TYPOGRAPHY

h1{
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    font-size: 6rem;
}

h2{
    text-align: center;
    font-size: 2.5rem;
}



// Flexbox styles
.flex{
    display:flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction:row;
}

.basis100{
    flex-basis:100%;
}

.basis50{
    flex-basis: 50%;
}

@media (max-width: 600px) {
    .basis50 {
        flex-basis: 100%;
    }
}

.basis75{
    flex-basis:75%;
}

.basis25{
    flex-basis:25%;
}

fieldset{
    border:none;
}

// HERO STYLES

.hero{
    height: 100vh;
    background-image: url(../assets/hero-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:20vh;
    opacity:0;
    animation:1s fadein 0.5s forwards;
    .jumbotron{
        opacity: 0;
        animation:1s fadein 1s forwards;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 30px;
        margin: 0 auto;
        padding:20px;
        width: 50%;
        text-align: center;
    }

}

// QUERIES STYLES
.queries{
    min-height:100vh;
    background: #f6f6f6;
}

// DINNER STYLES
.dinner{

    .restaurant-card, .not-found{
        margin:10px;
        padding: 30px;
        border-radius: 10px;
        background: $primary;
        border: 2px solid $accent1;
        
        button{
            background: $secondary;
            color:$accent2;
            border:2px solid $accent1;
            border-radius: 10px;
            width: 100%;
            padding: 5px
        }

        button:hover, button:focus{
            color: $accent1;
            background: $accent2;
        }

        .star{
            color:$accent1;
        }
    }
    .restaurant-picture{
        img{
            max-width:170px;
            height: auto;
            align-self: center;
            margin: 5px;
        }
    }
    .form{
        align-items: center;
        border: 2px solid $accent1;
        border-radius: 10px;
        margin:10px;
        padding: 20px;
        background:$secondary;  
        
        .action{
            border:2px solid #f6f6f6;
            border-radius: 10px;
            background:$accent1;
            padding:5px 10px;
            color: #f6f6f6;
        }

        .action:hover, .action:focus{
            border-color: $accent1;
            background:#f6f6f6;
            color: $accent1;
        }
    }
}

// MOVIES STYLES
.movies {
    display: none;
}
.movie-area {
    p {
        margin: 0 0 25px 0;
    }

    h3 {
        margin-bottom: 25px;
        text-transform: uppercase;

    }

    h4 {
        margin: 0 0 10px 0;
        text-transform: capitalize;
    }

    .theatre-card {
        margin:10px;
        padding: 30px;
        border-radius: 5px;
        background: $primary;
        border: 2px solid $accent1;
    }
    .action{
            border:2px solid #f6f6f6;
            border-radius: 10px;
            background:$accent1;
            padding:5px 10px;
            color: #f6f6f6;
        }

    .action:hover, .action:focus{
            border-color: $accent1;
            background:#f6f6f6;
            color: $accent1;
    }
}
.reset {
    justify-content: center;
}