@import "setup";
@import "animations";

// VARIABLES
$primary : #f9e090;
$secondary: #ff935c;
$accent1 : #dc5353;
$accent2: #f2f2f2;
// GENERAL STYLES

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}


// TYPOGRAPHY
body{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;   
}

h1, h2, h3{
    text-align: center;
}

h1{
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    font-size: 6rem;
}

h2{
    font-size: 2.5rem;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $accent1;
  color:white;
  padding: 10px 15px;
  border: 2px solid white;
}

.skip-link:focus {
  left: 0;
}

.action{
    border:2px solid $accent2;
    border-radius: 10px;
    background:$accent1;
    padding:5px 10px;
    color: $accent2;
}

.action:hover, .action:focus{
    border-color: $accent1;
    background:$accent2;
    color: $accent1;
}



// Flexbox styles
.flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction:row;
}

.basis100{
    flex-basis:100%;
}

.basis50{
    flex-basis: 50%;
}

.basis45{
    flex-basis: 45%;
}

.basis75{
    flex-basis:75%;
}

.basis25{
    flex-basis:25%;
}

fieldset{
    border:none;
    width:70%;
}

// HERO STYLES

.hero{
    height: 100vh;
    background-image: url(../assets/hero-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:20vh;
    opacity:0;
    animation:1s fadein 0.5s forwards;

    .jumbotron{
        opacity: 0;
        animation:1s fadein 1s forwards;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 30px;
        margin: 0 auto;
        padding:20px;
        width: 50%;
        text-align: center;
    }

    button{
        padding: 20px 50px;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 700;
    }

}

// QUERIES STYLES
.queries{
    min-height:100vh;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000 0%, #414141 20%);
}

// DINNER STYLES
.dinner{

    .card-area{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurant-card, .not-found{
        margin:10px;
        padding: 30px;
        border-radius: 10px;
        background: $primary;
        border: 2px solid $accent1;
        
        button{
            background: $secondary;
            color:$accent2;
            border:2px solid $accent1;
            border-radius: 10px;
            width: 100%;
            padding: 5px
        }

        button:hover, button:focus{
            color: $accent1;
            background: $accent2;
        }

        .star{
            color:$accent1;
        }
    }
    .restaurant-picture{
        img{
            max-width:170px;
            max-height: 140px;
            height: auto;
            align-self: center;
            margin: 5px;
        }
    }
}

.form{
    align-items: center;
    border: 2px solid $accent1;
    border-radius: 10px;
    margin:10px;
    padding: 20px;
    background:$secondary; 

    select{
        width:100%;
        text-align: center;
    }
}


// MOVIES STYLES
.reminder, .movie-area{
    position: sticky;
    top: 20px;
}

.movie-area {
    display: none;
    p {
        margin: 0 0 25px 0;
    }

    h3 {
        margin-bottom: 25px;
        text-transform: uppercase;

    }

    h4 {
        margin: 0 0 10px 0;
        text-transform: capitalize;
    }

    .theatre-card {
        margin:10px;
        padding: 30px;
        border-radius: 5px;
        background: $primary;
        border: 2px solid $accent1;
    }
}

.reminder {
    padding: 67px 50px;
}
.reset {
    justify-content: center;
}
.go-back {
    margin-right: 10px;
}

// MEDIA QUERIES

@media (max-width: 900px){
    .restaurant-card{
        flex-direction: column;
        .restaurant-picture{
            align-self: center;
        }
    }

}

@media (max-width: 800px) {
    .movie-area {
        position: initial;
    }
    .basis50 {
        flex-basis: 100%;
    }

    .movies {
        position: absolute;
    }

    .reminder {
        display: none;
        position: absolute;
        flex-basis: 0;
    }
}

@media (max-width: 530px){
    .hero{
        .jumbotron{
            width:75%;
        }
    }

    .action, fieldset{
        width:100%;
    }

    .restaurant-card{
        flex-basis: 100%;
    }

}